{{#el-layout elLayout='horizontal' elAlign='center'}}
  {{#el-layout elFlex='1'}}
    <div class="app-list__item__name">{{app.name}}</div>
    <div class="app-list__item__path">{{app.dir}}</div>
  {{/el-layout}}

  <div>
    {{#if app.isCloned}}
      <button {{action 'gitPull'}}>Pull</button>

      {{#if app.isDirty}}
        <button {{action 'gitPush'}}>Deploy</button>
      {{/if}}
    {{else}}
      <button {{action 'gitClone'}}>Clone</button>
    {{/if}}
  </div>
{{/el-layout}}
